#canvas {
    width: 100%;
    height: 600px;
    padding: 0;
    margin: 0;
}

.map-panel {
    padding: 0;
}


/*=======================================
    SIDE MENUS STYLES
==================================================*/

#cbp-spmenu-s1 {
    overflow: auto;
}

#cbp-spmenu-s1>h3 {
    text-align: right;
}

#icon-left {
    text-align: right;
}

#showLeftPush {
    /*position: fixed;*/
    /*z-index: 9999;*/
    color: #000;
}

#cbp-spmenu-s2 {
    overflow: auto;
}

#cbp-spmenu-s2>h3 {
    text-align: left;
}

#icon-right {
    text-align: right;
}

#showRightPush {
    position: fixed;
    z-index: 9999;
    right: 5px;
    top: 20px;
    color: #fff;
}


/*=======================================
    COMPONENTS.CSS ADJUSTMENTS STYLES
==================================================*/

.cbp-spmenu a:focus,
.cbp-spmenu a:hover {
    text-decoration: none;
}

.cbp-spmenu a>i {
    margin-right: 25px;
}

.cbp-spmenu h3 {
    font-size: 2.9em;
    font-weight: 900;
    color: #fff;
    padding: 30px;
}

.cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 900;
}

// Close Button for side panel
#close {
    display: block;
    float: right;
    width: 30px;
    height: 29px;
    // background: url('/assets/images/x_icon.png') no-repeat center center;
    position: relative;
    top: 0;
    right: 0;
    // padding: 3px;
}