<div class="container-fluid">

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="pac-input">Search:</label>
                        <input class="form-control" id="pac-input" type="text">
                    </div>
                </form>
            </div>
            <div class="panel-body map-panel">

                <div id="canvas" class="col-sm-12 mapContainer">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="checkbox">
                <label><input type="checkbox" name="rtpLines" ng-true-value="1" ng-false-value="0" ng-change="$ctrl.rtpLayerToggle($ctrl.rtpPointLayer,'point')"
				ng-model="$ctrl.rtpPointCheckbox">Points</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="rtpPoints" ng-true-value="1" ng-false-value="0" ng-change="$ctrl.rtpLayerToggle($ctrl.rtpLineLayer,'line')"
				ng-model="$ctrl.rtpLineCheckbox">Lines</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="rtpPolygons" ng-true-value="1" ng-false-value="0" ng-change="$ctrl.rtpLayerToggle($ctrl.rtpPolygonLayer,'poly')"
				ng-model="$ctrl.rtpPolygonCheckbox">Polygons</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="checkbox">
                <label><input type="checkbox" name="pdasLayer" ng-true-value="1" ng-false-value="0" ng-change="$ctrl.loadOverlays($ctrl.pdaLayer)"
				ng-model="$ctrl.pdasCheckbox">Priority Development Areas</label>
                <br>
                <h1>Legend</h1>
                <div>
                    <label for="">Transit Projects</label>
                    <div style="width:20px;height:20px;background-color:blue;"></div>
                </div>
                <div>
                    <label for="">Roadway Projects</label>
                    <div style="width:20px;height:20px;background-color:red;"></div>
                </div>
                <div ng-show="$ctrl.legend.pdas">
                    <label for="">Priority Development Areas</label>
                    <div style="width:20px;height:20px;background-color:orange;"></div>
                </div>

            </div>
        </div>
    </div>

</div>