<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Project Title</div>
            <div class="panel-body map-panel">
                <div id="canvas" class="col-sm-12 mapContainer">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="checkbox">
                <label><input type="checkbox" name="rtpLines" ng-true-value="1" ng-false-value="0" ng-change="$ctrl.rtpLinesToggle($ctrl.rtpPointLayer,'point')"
				ng-model="$ctrl.rtpPointCheckbox">Points</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="rtpPoints" ng-true-value="1" ng-false-value="0" ng-change="$ctrl.rtpLinesToggle($ctrl.rtpLineLayer,'line')"
				ng-model="$ctrl.rtpLineCheckbox">Lines</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="rtpPolygons" ng-true-value="1" ng-false-value="0" ng-change="$ctrl.rtpLinesToggle($ctrl.rtpPolygonLayer,'poly')"
				ng-model="$ctrl.rtpPolygonCheckbox">Polygons</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="checkbox">
                <label><input type="checkbox" name="pdasLayer" ng-true-value="1" ng-false-value="0" ng-change="$ctrl.loadOverlays($ctrl.pdaLayer)"
				ng-model="$ctrl.pdasCheckbox">Priority Development Areas</label>
            </div>
        </div>
    </div>

</div>