<div>
    <a ui-sref="data"> <button type="button" class="btn btn-large btn-default">Back to projects</button></a>
    <a ui-sref="data.view"> <button type="button" class="btn btn-large btn-primary">Project Details</button></a>
    <a ui-sref="data.map"> <button type="button" class="btn btn-large btn-primary">Project Location</button></a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">{{currentMapProject.title}}</div>
            <div class="panel-body map-panel">
                <div id="data-map-canvas" class="col-sm-12 mapContainer">
                </div>
            </div>
        </div>
    </div>
</div>