<div class="container">
    <div>
        <a ui-sref="data"> <button type="button" class="btn btn-large btn-default">Back to projects</button></a>
        <!--<a ui-sref="data.view"> <button type="button" class="btn btn-large btn-primary">Project Details</button></a>
    <a ui-sref="data.map"> <button type="button" class="btn btn-large btn-primary">Project Location</button></a>-->
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Basic Information
        </div>
        <div class="panel-body">
            <h3>{{projectDetail.title}}</h3>
            <p>{{projectDetail.description}}</p>
            <p>RTPId: {{projectDetail.rtpId}}</p>
            <p>County: {{projectDetail.county}}</p>
            <p>Sponsor: {{projectDetail.agency}}</p>
            <p>Mode: {{projectDetail.mode}}</p>
            <p>System: {{projectDetail.system}}</p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Cost and Funding
        </div>
        <div class="panel-body">


        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Schedule
        </div>
        <div class="panel-body">


        </div>
    </div>
</div>