<!--Footer-->
<div class="container-fluid footer-container">
    <div class="row">
        <div class="footer-nav">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <!-- fourth row -->
                <a class="footer-link" href="http://gis.mtc.ca.gov">Copyright &#169; MTCGIS 2017</a><span style="margin-right:10px;"></span>
                <a href="http://planbayarea.org">Draft Plan Bay Area Document</a><span style="margin-right:10px;"></span>
                <a href="http://planbayarea.org">PlanBayArea.org</a>
            </div>
        </div>
        <!-- footer-nav -->
    </div>
    <!-- footer -->
    <div class="clear-float"> </div>
</div>