<!--Preloader-->
<div class="loader-container" ng-show="!loaded" ng-hide="loaded">
    <div class="loader"></div>
</div>
<!--End Preloader-->
<!--Main Section-->
<div ui-view="data-content" class="cbp-spmenu-push">
    <div class="container-fluid" style="padding-left:0;">
        <!--LEFT SLIDE MENU-->
        <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1" style="height:100%;background-color:#336699;position:absolute;">
            <!--<h3>Tools</h3>-->
            <div id="close" ng-click="showFilters()" class="cbp-spmenuClose">
                <a class="pad-0 " href="#" style="border-bottom:0px;"><span style="color:white; font-size:30px;"><h1 style="margin:0; padding-left:6px;"> &#10006;</h1></span></a>
            </div>
            <a href="#">Filter Results</a>
            <form class="form-horizontal" style="padding-left:20px;">
                <!--<div class="form-group has-feedback pad-top-30">
                    <div class="col-sm-10">
                        <input type="text" id="rtpInputSearch" ng-change="changeFilter('rtpId', filters)" class="form-control" style="height:36px;" placeholder="RTPID Search..." ng-model="filters.rtpId" uib-typeahead="id for id in rtpIdsList | filter:$viewValue | limitTo:8">
                    </div>
                </div>-->
                <div class="form-group has-feedback">
                    <div class="col-sm-10">
                        <ui-select ng-model="filters.county" ng-change="changeFilter()" id="countyInputSearch" theme="selectize" ng-disabled="disabled" title="Choose a country">
                            <ui-select-match placeholder="County">{{$select.selected.county}}</ui-select-match>
                            <ui-select-choices repeat="item.county as item in originalProjectList  | unique: 'county' | filter: $select.search">
                                <span ng-bind-html="item.county | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <!--<li ng-repeat="val in projectList | unique: 'county'">{{val.county}}</li>-->
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <div class="col-sm-10">
                        <ui-select id="modeInputSearch" ng-model="filters.mode" ng-change="changeFilter()" theme="selectize" ng-disabled="ctrl.disabled" title="Choose a country">
                            <ui-select-match placeholder="Mode">{{$select.selected.mode}}</ui-select-match>
                            <ui-select-choices repeat="item.mode as item in originalProjectList | unique: 'mode'| filter: $select.search">
                                <span ng-bind-html="item.mode | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                </div>
                <div class="form-group has-feedback">
                    <div class="col-sm-10">
                        <ui-select id="sponsorInputSearch" allow-clear ng-model="filters.agency" ng-change="changeFilter()" theme="selectize">
                            <ui-select-match placeholder="Sponsor">{{$select.selected.agency}}</ui-select-match>
                            <ui-select-choices repeat="item.agency as item in originalProjectList | unique: 'agency' | filter: $select.search">
                                <span ng-bind-html="item.agency | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button class="btn btn-default" ng-click="changeFilter('clear')">Clear Filters</button>
                    </div>

                </div>
            </form>


        </div>
        <!--Map Tools Button -->
        <div id="toggleTools" ng-click="showFilters()" ng-show="!showTools" style="background-color:white !important;left:0px !important; position:absolute; top:150px;">
            <div class="row" id="icon-left" style="background-color:white !important;">
                <div class="col-md-12" style="color:black; background-color:white;">
                    <button id="showLeftPush" class="btn btn-primary">
                    <i class="fa fa-filter fa-2x"></i>
                <!--<span ng-show="showTools">&nbsp;HIDE TOOLS</span>
                <span ng-show="!showTools">&nbsp;SHOW TOOLS</span>-->
                </button>
                    <!--<i id="showLeftPush" class="fa fa-cogs fa-4x faa-horizontal animated" style="background-color:white;">
                    <span ng-show="showTools">Hide Tools</span>
                    <span ng-show="!showTools">Show Tools </span>
                    </i>-->
                </div>
            </div>
        </div>
        <!--End Map Tools -->
        <!--END LEFT SLIDE MENU-->

        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="padding-bottom:5px;padding-top:5px;">
                <div style="padding-top:3px;padding-left:0;padding-bottom:30px; height:40px;">
                    <div style="padding-bottom:30px;">
                        <a ui-sref="explore"> <button type="button" class="btn btn-large btn-default"><i class="fa fa-search"></i>&nbsp;Change Search</button></a>
                        <button type="button" class="btn btn-large btn-default" ng-click="viewOnMap()"><i class="fa fa-map-marker"></i>&nbsp;View on Map</button>
                        <button type="button" class="btn btn-large btn-default" ng-click="exportCSV()"><i class="fa fa-file-excel-o"></i>&nbsp;Export to CSV</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel">
                    <div class="panel-body pad-0" style="height:70vh;margin-bottom:0px;">
                        <table class="table table-fixed" ts-wrapper>
                            <thead>
                                <tr>
                                    <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:center; vertical-align:middle;">
                                        <input type="checkbox" ng-model="projects.select" ng-checked="projects.checked" ng-click="selectAll(projects)">
                                    </th>
                                    <th ts-criteria="rtpId" class="col-lg-1 col-md-1 col-sm-2 col-xs-2">RTPID</th>
                                    <th ts-criteria="title" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">Title</th>
                                    <th ts-criteria="description" class="col-lg-4 col-md-4 col-sm-6 col-xs-6">Description</th>
                                    <!--<th class="col-lg-4 col-md-4 hidden-md hidden-sm hidden-xs">Description</th>-->
                                    <th ts-criteria="county" class="col-lg-1 col-md-1 hidden-sm hidden-xs">County</th>
                                    <th ts-criteria="mode" class="col-lg-1 col-md-1 hidden-sm hidden-xs">Mode</th>
                                    <th class="col-lg-1 col-md-1 col-sm-3 col-xs-3">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody style="max-height:67vh;">
                                <tr ng-class="{'selected': list.select}" ts-repeat ts-hide-no-data ng-repeat="list in selectedValues = (projectList | filter:{rtpId:rtpId, title:fullText, county: county, mode:mode.mode, agency:sponsor.agency})">
                                    <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:center; vertical-align:middle;">
                                        <input type="checkbox" ng-model="list.select" ng-checked="list.checked" ng-click="checkSelected()">
                                    </td>
                                    <td class="col-lg-1 col-md-2 col-sm-2 col-xs-2">{{list.rtpId}}</td>
                                    <td class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{list.title}}</td>
                                    <td class="col-lg-4 col-md-4 col-sm-6 col-xs-6">{{list.description}}</td>
                                    <!--<td class="col-lg-4 col-md-4 hidden-md hidden-sm hidden-xs">{{list.description}}</td>-->
                                    <td class="col-lg-1 col-md-1 hidden-sm hidden-xs">{{list.county}}</td>
                                    <td class="col-lg-1 col-md-1 hidden-sm hidden-xs">{{list.mode}}</td>
                                    <td class="col-lg-1 col-md-1 col-sm-3 col-xs-3" style="text-align: center;">
                                        <a href="javascript:;" class="btn btn-small" ng-click="loadDataMap(list.rtpId)" ng-if="list.mapStatus === 'Needs Review'">
                                            <i class="fa fa-th-list fa-3x" style="font-size:30px;"></i>

                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<!--<div class="row">
        <div class="form-group row">
            <label for="rtpIdInput" class="col-xs-2 col-form-label">Reference ID:</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" id="rtpIdInput" ng-model="search.rtpId" uib-typeahead="id for id in rtpIdsList | filter:$viewValue | limitTo:8">
            </div>
        </div>
        <div class="form-group row">
            <label for="fullTextInput" class="col-xs-2 col-form-label">Title</label>
            <div class="col-xs-10">
                <input class="form-control" type="search" value="How do I shoot web" id="fullTextInput" ng-model="search.fullText">
            </div>
        </div>
        <div class="form-group row">
            <label for="countyInput" class="col-xs-2 col-form-label">County</label>
            <div class="col-xs-10">
                <select class="form-control" id="countyInput" ng-model="search.county">
                    <option></option>
                 <option ng-repeat="val in countiesList">{{val.county}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="modeInput" class="col-xs-2 col-form-label">Mode</label>
            <div class="col-xs-10">
                <select class="form-control" id="modeInput" ng-model="search.mode">
                    <option ng-repeat="val in modeList">{{val.mode}}</option>
                 </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="sponsorInput" class="col-xs-2 col-form-label">Sponsor</label>
            <div class="col-xs-10">
                <select class="form-control" id="sponsorInput" ng-model="search.agency">
                     <option></option>
                     <option ng-repeat="val in sponsorList">{{val.agency}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row" style="float:right;">
            <button type="button" class="btn btn-large btn-default" ng-click="clearFilters()">Clear Filters</button>
            <button type="button" class="btn btn-large btn-default" ng-click="viewOnMap()">View on Map</button>
            <button type="button" class="btn btn-large btn-default" ng-click="exportCSV()">Export to CSV</button>
        </div>
    </div>-->


<!--End Main Section-->