<div class="container" style="background-color:white;">
    <div class="row">
        <div class="col-md-10 col-md-offset-1" style="padding-top:10px;">
            <div>
                <a href="#" ng-click="backtoProjects()"><button type="button" class="btn btn-large btn-default"><i class="fa fa-th-list"></i>&nbsp;Data</button></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default" style="margin-top:10px;">
                <div class="panel-heading panel-head-style clearfix">
                    Basic Information
                </div>
                <div class="panel-body pad-top-0 pad-bottom-0">
                    <table class="table" style="margin-bottom:0;">
                        <tbody>
                            <tr>
                                <td class="col-md-2" style="color:#336699;">
                                    <h4 style="margin-top:0;">What is this project/program?</h4>
                                </td>
                                <td col-md-10>
                                    <p> {{projectDetail.title}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="color:#336699;">
                                    <h4 style="margin-top:0;">What would this project/program do?</h4>
                                </td>
                                <td>
                                    <p> {{projectDetail.description}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="color:#336699;">
                                    <h4 style="margin-top:0;">RTPID:</h4>
                                </td>
                                <td>
                                    <p> {{projectDetail.rtpId}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="color:#336699;">
                                    <h4 style="margin-top:0;">County:</h4>
                                </td>
                                <td>
                                    <p> {{projectDetail.county}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="color:#336699;">
                                    <h4 style="margin-top:0;">Agency:</h4>
                                </td>
                                <td>
                                    <p> {{projectDetail.agency}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="color:#336699;">
                                    <h4 style="margin-top:0;">Mode:</h4>
                                </td>
                                <td>
                                    <p> {{projectDetail.mode}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="color:#336699;">
                                    <h4 style="margin-top:0;">System:</h4>
                                </td>
                                <td>
                                    <p> {{projectDetail.system}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading panel-head-style">
                    Cost and Funding (in Year-of-Expenditure)
                </div>
                <div class="panel-body pad-top-0 pad-bottom-0">
                    <table class="table" style="margin-bottom:0;">
                        <tbody>
                            <tr>
                                <td class="col-md-4" style="color:#336699;">
                                    <h4 style="margin-top:0;">How much does this project/program cost?</h4>
                                </td>
                                <td class="col-md-8">
                                    <p> {{projectDetail.totalCostYOE | currency}} (millions)</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4" style="color:#336699;">
                                    <h4 style="margin-top:0;">How much of this project/program is covered in the Plan period?</h4>
                                </td>
                                <td class="col-md-8">
                                    <p> {{projectDetail.inPlanFunding | currency}} (millions)</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2" style="color:#336699;">
                                    <h4 style="margin-top:0;">How much of the project/program was included in previous plans? (millions):</h4>
                                </td>
                                <td class="col-md-10">
                                    <p> {{projectDetail.pre2017Funding | currency}} (millions)</p>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading panel-head-style">
                    Schedule
                </div>
                <div class="panel-body pad-top-0 pad-bottom-0">
                    <table class="table" style="margin-bottom:0;">
                        <tbody>
                            <tr>
                                <td class="col-md-3" style="color:#336699;">

                                </td>
                                <td class="col-md-3">
                                    <h4 style="margin-top:0;"></h4>
                                </td>
                                <td class="col-md-3">
                                    <h4 style="margin-top:0;"></h4>
                                </td>
                            </tr>
                            <tr>
                                <td style="color:#336699;">
                                    <h4 style="margin-top:0;">By when is this project/program anticipated to open?</h4>
                                </td>
                                <td>
                                    <p> {{projectDetail.projectOpenYr}}</p>
                                </td>
                                <td>

                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
            <div class="panel panel-default" ng-show="showMap">
                <div class="panel-heading panel-head-style" style="background-color:#DDDDDD;">
                    Location
                </div>
                <div class="panel-body pad-0">
                    <div id="data-map-canvas" class="col-sm-12 mapContainer">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>