<!--Preloader-->
<div class="loader-container" ng-show="!loaded" ng-hide="loaded">
    <div class="loader"></div>
</div>
<!--End Preloader-->
<!--Main Section-->
<div ui-view="data-content" class="cbp-spmenu-push">
    <div class="container-fluid" style="padding-left:0;background-color:lightgray">
        <div class="container" style="background-color:white;">
            <!--LEFT SLIDE MENU-->
            <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1" style="height:100%;background-color:#336699;position:absolute;">
                <!--<h3>Tools</h3>-->
                <div id="close" ng-click="showFilters()" class="cbp-spmenuClose">
                    <a class="pad-0 " href="#" style="border-bottom:0px;"><span style="color:white; font-size:30px;"><h1 style="margin:0; padding-left:6px;"> &#10006;</h1></span></a>
                </div>
                <a href="#">Filter Results</a>
                <form class="form-horizontal" style="padding-left:20px;">
                    <!--<div class="form-group has-feedback pad-top-30">
                    <div class="col-sm-10">
                        <input type="text" id="rtpInputSearch" ng-change="changeFilter('rtpId', filters)" class="form-control" style="height:36px;" placeholder="RTPID Search..." ng-model="filters.rtpId" uib-typeahead="id for id in rtpIdsList | filter:$viewValue | limitTo:8">
                    </div>
                </div>-->
                    <div class="form-group has-feedback">
                        <div class="col-sm-10">
                            <ui-select ng-model="filters.county" ng-change="changeFilter()" id="countyInputSearch" theme="selectize" ng-disabled="disabled" title="Choose a country">
                                <ui-select-match placeholder="County">{{$select.selected.county}}</ui-select-match>
                                <ui-select-choices repeat="item.county as item in originalProjectList  | unique: 'county' | filter: $select.search">
                                    <span ng-bind-html="item.county | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            <!--<li ng-repeat="val in projectList | unique: 'county'">{{val.county}}</li>-->
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <div class="col-sm-10">
                            <ui-select id="modeInputSearch" ng-model="filters.mode" ng-change="changeFilter()" theme="selectize" ng-disabled="ctrl.disabled" title="Choose a country">
                                <ui-select-match placeholder="Mode">{{$select.selected.mode}}</ui-select-match>
                                <ui-select-choices repeat="item.mode as item in originalProjectList | unique: 'mode'| filter: $select.search">
                                    <span ng-bind-html="item.mode | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>

                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <div class="col-sm-10">
                            <ui-select id="sponsorInputSearch" allow-clear ng-model="filters.agency" ng-change="changeFilter()" theme="selectize">
                                <ui-select-match placeholder="Sponsor">{{$select.selected.agency}}</ui-select-match>
                                <ui-select-choices repeat="item.agency as item in originalProjectList | unique: 'agency' | filter: $select.search">
                                    <span ng-bind-html="item.agency | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>

                        </div>
                    </div>
                    <!--<div class="form-group has-feedback">
                        <div class="col-sm-10">
                            <ui-select id="mappingStatusInput" allow-clear ng-model="filters.mapStatus" ng-change="changeFilter()" theme="selectize">
                                <ui-select-match placeholder="Map Status">{{$select.selected.mapStatus}}</ui-select-match>
                                <ui-select-choices repeat="item.mapStatus as item in originalProjectList | unique: 'mapStatus' | filter: $select.search">
                                    <span ng-bind-html="item.mapStatus | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>

                        </div>
                    </div>-->
                    <div class="form-group">
                        <div class="col-sm-10">
                            <button class="btn btn-default" ng-click="changeFilter('clear')">Clear Filters</button>
                        </div>

                    </div>
                </form>


            </div>

            <!--END LEFT SLIDE MENU-->

            <div class="row">
                <div class="col-md-10 col-md-offset-1" style="padding-bottom:5px;padding-top:5px;">
                    <div style="padding-top:3px;padding-left:0;padding-bottom:30px; height:40px;">
                        <div style="padding-bottom:30px;">
                            <a href="#" ng-click="showFilters()"> <button id="showLeftPush" type="button" class="btn btn-large btn-default"><i class="fa fa-filter"></i>&nbsp;Filters</button></a>
                            <a ui-sref="explore"> <button type="button" class="btn btn-large btn-default"><i class="fa fa-search"></i>&nbsp;Change Search</button></a>
                            <button type="button" class="btn btn-large btn-default" ng-click="viewOnMap()"><i class="fa fa-map-marker"></i>&nbsp;Map</button>
                            <button type="button" class="btn btn-large btn-default hidden-xs" ng-click="exportCSV()"><i class="fa fa-file-excel-o"></i>&nbsp;Export</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel" style="margin-bottom:0px;">
                        <div class="panel-body pad-0" style="height:65vh;margin-bottom:0px; border:none;">
                            <table class="table table-fixed" ts-wrapper style="margin-bottom:0 !important;padding:0;">
                                <thead>
                                    <tr>
                                        <!--<th class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:center; vertical-align:middle;">
                                        <input type="checkbox" ng-model="projects.select" ng-checked="projects.checked" ng-click="selectAll(projects)">
                                    </th>-->
                                        <th class="col-lg-2 col-md-1 col-sm-2 col-xs-3">RTPID</th>
                                        <th class="col-lg-3 col-md-3 col-sm-3 col-xs-6">Title</th>
                                        <th class="col-lg-4 col-md-5 col-sm-5 hidden-xs">Description</th>
                                        <!--<th class="col-lg-4 col-md-4 hidden-md hidden-sm hidden-xs">Description</th>-->
                                        <th class="col-lg-1 col-md-1 hidden-sm hidden-xs">County</th>
                                        <th class="col-lg-1 col-md-1 hidden-sm hidden-xs">Mode</th>
                                        <th class="col-lg-1 col-md-1 col-sm-2 col-xs-3" style="text-align:center;">Details</th>
                                    </tr>
                                </thead>
                                <tbody style="max-height:62vh; margin:0;">
                                    <tr ng-class="{'selected': list.select}" ng-repeat="list in selectedValues = (projectList | filter:{rtpId:rtpId, title:fullText, county: county, mode:mode.mode, agency:sponsor.agency})">
                                        <!--<td class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:center; vertical-align:middle;">
                                        <input type="checkbox" ng-model="list.select" ng-checked="list.checked" ng-click="checkSelected()">
                                    </td>-->
                                        <td class="col-lg-2 col-md-1 col-sm-2 col-xs-3">{{list.rtpId}}</td>
                                        <td class="col-lg-3 col-md-3 col-sm-3 col-xs-6">{{list.title}}</td>
                                        <td class="col-lg-4 col-md-5 col-sm-5 hidden-xs">{{list.description}}</td>
                                        <!--<td class="col-lg-4 col-md-4 hidden-md hidden-sm hidden-xs">{{list.description}}</td>-->
                                        <td class="col-lg-1 col-md-1 hidden-sm hidden-xs">{{list.county}}</td>
                                        <td class="col-lg-1 col-md-1 hidden-sm hidden-xs">{{list.mode}}</td>
                                        <td class="col-lg-1 col-md-1 col-sm-2 col-xs-3" style="text-align: center;">
                                            <a href="javascript:;" class="btn btn-small" ng-click="loadDataMap(list.rtpId)" ng-if="list.mapStatus === 'Needs Review'" uib-tooltip="Show Project Details">
                                                <i class="fa fa-th-list fa-3x" style="font-size:30px;"></i>
                                            </a>
                                            <a href="javascript:;" class="btn btn-small" ng-click="loadDataMap(list.rtpId)" ng-if="list.mapStatus === 'Mapped'" uib-tooltip="Show Project Details">
                                                <i class="fa fa-th-list fa-3x" style="font-size:30px;"></i>
                                            </a>
                                            <a href="javascript:;" class="btn btn-small" ng-click="loadDataMap(list.rtpId)" ng-if="list.mapStatus !== 'Mapped' && list.mapStatus !== 'Needs Review'" uib-tooltip="Show Project Details">
                                                <i class="fa fa-th-list fa-3x" style="font-size:30px; color:gray;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <div class="panel-footer" style="background-color:#ECECEC; height:40px;border-style:solid;border-width:1px;border-color:lightgray;margin-bottom:5px; opacity: 1;">
                            <div>
                                Number of Records: {{projectList.length}} of 376
                            </div>
                        </div>
                    </div>
                    <!--<tfoot>
                        <div style="background-color:#ECECEC; height:40px;border-style:solid;border-width:1px;border-color:lightgray;margin-bottom:5px; opacity: 1;">
                            <div style="padding-top:5px; padding-left:10px;">
                                Number of Records: {{projectList.length}} of 376
                            </div>
                        </div>
                    </tfoot>-->


                </div>

            </div>

        </div>
    </div>
</div>



<!--End Main Section-->